## Tuples
Tuples are ordered collection of item that are immutable. They are similae to lists, but their immutability makes them different.

In [1]:
## Creating a tuples
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst = list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [4]:
numbers = tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [5]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [6]:
Mixed_tuple=(1,"Hello World",3.14,True)
print(Mixed_tuple)

(1, 'Hello World', 3.14, True)

In [ ]:
## Accessing Tuple Element
numbers

In [14]:
print(numbers[0])
print(numbers[2])
print(numbers[-1])

1
3
6

In [15]:
numbers

(1, 2, 3, 4, 5, 6)

In [16]:
numbers[0:5]

(1, 2, 3, 4, 5)

In [17]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [18]:
numbers[::1]

(1, 2, 3, 4, 5, 6)

In [19]:
numbers[:1]

(1,)

In [22]:
## Tuples Operations
concatenation_tuple =  numbers + Mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [23]:
Mixed_tuple*3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [28]:
numbers * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

## Immutable Nature of Tuples
Tuples are immutable , meaning their elements cannot be changed once assigned.

In [ ]:
## Lists are mutable that means if we assign value at an index then we further change its value
lst = [1,2,3,44,5]
print(lst)

[1, 2, 3, 44, 5]

In [31]:
lst[4]="kanhaiya"
print(lst)

[1, 2, 3, 44, 'kanhaiya']

In [32]:
### Tuples Are Immutable means if we assign value at an index the we cannot reassign value at that index
tuples = (1,2,3,4,5)
print(tuples)

(1, 2, 3, 4, 5)

In [42]:
##  tuples[2]="kanhaiya"

### Tuple Methods

In [37]:
print(numbers.count(1))
print(numbers.index(3))

1
2

### Packing and Unpacking tuples

In [39]:
## Packing tuples
packed_tuple = 1,"hello",3.14
print(packed_tuple)

(1, 'hello', 3.14)

In [41]:
## Unpacking a tuple
a,b,c = packed_tuple
print(a)
print(b)
print(c)

1
hello
3.14

In [43]:
## unpacking with *
numbers = (1,2,3,4,5,6)
first,*middle,last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [ ]:

## Nested List
lst = [[1,2,3,4],[2,3,4,5],[3,4,5,6],[3,5,6,"hello"]]
lst[0][2]

3

In [62]:
lst[0][0:2]

[1, 2]

In [66]:
## Nested Tuple
tup = ((1,2,3,4),(2,3,4,5),(3,4,5,6),(3,5,6,"hello"))
tup[0][0:2]

(1, 2)

In [67]:
print(tup[3][3])

hello

In [68]:
nested_tuple=((1,2,3),("a","b","c"),(True,False))

print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [70]:
## Iterating over nested tuple

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False