## Standard librery Overview

Python's Standard library is a vast collection of modules and packages that come bundled with Python, Providing a wide range of functionalities out of the box. Here's an overview of some of the most commonly used modules and packages in the pytho standard librery.

In [2]:
import array 
arr=array.array("i",[1,2,3,4])
print(arr)

array('i', [1, 2, 3, 4])

In [3]:
import math
print(math.sqrt(16))
print(math.pi)

4.0
3.141592653589793

In [37]:
## Random 

import random
print(random.randint(1,10))
print(random.choice(['apple','banana','cherry']))

10
banana

In [39]:
### File and directory access

import os
print(os.getcwd())

c:\Users\kk707\OneDrive\Desktop\Data Science\5_Modules

In [40]:
os.mkdir('test_dir')

In [41]:
## High leve operation on files and collection of files

import shutil
shutil.copyfile('source.txt','destination.txt')

'destination.txt'

In [43]:
### Data serilization 
import json
data={'name':'kanhaiya','age':25}

json_str=json.dumps(data)
print(json_str)
print(type(json_str))

parsed_data = json.loads(json_str)
print(parsed_data)
print(type(parsed_data))

{"name": "kanhaiya", "age": 25}
<class 'str'>
{'name': 'kanhaiya', 'age': 25}
<class 'dict'>

In [46]:
### CSV
import csv
with open('example.csv',mode='w',newline='') as file:
    writer = csv.writer(file)
    writer.writerow(['name','age'])
    writer.writerow(['krish',32])

with open('example.csv',mode='r') as file:
    reader=csv.reader(file)
    for row in reader:
        print(row)

['name', 'age']
['krish', '32']

In [98]:
### datetime

from datetime import datetime,timedelta

now = datetime.now()
print(now)

yesterday=now-timedelta(days=1)
print(yesterday)

2025-09-29 22:11:27.643652
2025-09-28 22:11:27.643652

In [99]:
## time

import time

print(time.time())
time.sleep(2)
print(time.time())

1759164156.6537788
1759164158.6687837

In [101]:
## Regular expression

import re

pattern=r'\d+'
text='There are 123 Apples'
match=re.search(pattern,text)
print(match.group())

123