In [ ]:
Variables

In [1]:
## Declaring and Assigning variables

age = 32
height = 6.1
name = "kanhaiya"
is_Student=True


## printing the variables

print("age: ",age)
print("Height: ",height)
print("Name:",name)

age:  32
Height:  6.1
Name: kanhaiya

In [ ]:
## Naming Convensions
## variable name should be descriptive
## they must start with a latter ar an '_' and contains letter , numbers and underscores
## variable names case sensitive

In [ ]:
## Invalid variable names
# 2age = 30
# first-name="kanhaiya"

In [ ]:
# Case Sensitivity

Name = "kanhaiya"
name = "kumar"
#both names are different

In [ ]:
## understand variable types

## Python is dynamically typed , type of variable determined at runtime

age = 20 # int 
height = 5.10 # float
name = "kanhaiya" #str
is_Student = True #bool

In [ ]:
#Type checking and conversion

type(height)

In [2]:
age = 25
print(type(age))

#type conversion
age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [ ]:
age ='25'
print(type(int(age)))

In [6]:
height=5.11
type(height)

float

In [9]:
print(int(height))

5

In [10]:
## Dynamic Typing
##Python allows the type of a variable to change as the program executes
var = 10 
print(var,type(var))

var="Hello"
print(var,type(var))

var = 3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [12]:
## Input 
age=input("what is the age : ")
print(age,type(age))

52 <class 'str'>

In [16]:
#simple Calculator

num1 = float(input("Enter First Number"))
num2 = float(input("Enter Second Number"))

sum=num1+num2
diff = num1-num2
product=num1*num2
quotient = num1/num2

print("sum : ",sum)
print("diff: ",diff)
print("product : ",product)
print("Quotient:",quotient)

sum :  9.0
diff:  1.0
product :  20.0
Quotient: 1.25