In [2]:
## Integers Example
age=35
type(age)

int

In [1]:
## Floating Point Datatype
height=5.11
print(height)
print(type(height))

5.11
<class 'float'>

In [ ]:
# String datatype
name="kanhaiya"
print(type(name))

In [4]:
## boolean datatype
is_true=True
type(is_true)

bool

In [6]:
a=10
b=10

type(a==b)

bool

In [10]:
## Common errors
result="Hello"+5
print(result)

TypeError: can only concatenate str (not "int") to str

In [ ]:
## Common errors
result="Hello"+str(5)
print(result)

Hello5

In [ ]:
str="Hello"