### The map() Function in Python
The map() function applies a given function to all items in an input list (or any other iterable ) and returns a map object (an iterator).This is Particularly useful for transforming data in a list comprehensively.

In [1]:
def square(x):
    return x*x

square(10)

100

In [12]:
numbers = [1,2,3,4,5,6,7]

list(map(square,numbers))

[1, 4, 9, 16, 25, 36, 49]

In [13]:
## Lambda function with map
numbers=[1,2,3,4,5,6]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36]

In [16]:
### Map multiple iterables

number1=[1,2,3]
number2=[4,5,6]

added_numbers=list(map(lambda x,y:x+y,number1,number2))

print(added_numbers)

[5, 7, 9]

In [18]:
## Map() to convert a list of string to integers
## Use map to convert Strings to integers
str_numbers = ['1','2','3','4','5']
int_numbers = list(map(int,str_numbers))

print(int_numbers)

[1, 2, 3, 4, 5]

words=["apple","banana","orange"]
upper_word=list(map(str.upper,words))
print(upper_word)

In [25]:
def get_name(person):
    return person['name']

people=[
    {'name':'kanhaiya','age':20},
    {'name':'Jack','age':23}
]
list(map(get_name,people))

['kanhaiya', 'Jack']