## Read Data From Different Sources

In [ ]:
#pip install pandas

In [1]:
import pandas as pd
from io import StringIO
data = '{"employee_name": "James", "email" : "james@gmail.com", "job_profile":[{"title":"Team Lead","Title2":"Sr. Developer"}] }'
df=pd.read_json(StringIO(data))

In [2]:
df

,employee_name,email,job_profile
0,James,james@gmail.com,"{'title': 'Team Lead', 'Title2': 'Sr. Developer'}"

In [3]:
df.to_json()

'{"employee_name":{"0":"James"},"email":{"0":"james@gmail.com"},"job_profile":{"0":{"title":"Team Lead","Title2":"Sr. Developer"}}}'

In [4]:
df.to_json(orient='index')

'{"0":{"employee_name":"James","email":"james@gmail.com","job_profile":{"title":"Team Lead","Title2":"Sr. Developer"}}}'

In [5]:
df.to_json(orient='records')

'[{"employee_name":"James","email":"james@gmail.com","job_profile":{"title":"Team Lead","Title2":"Sr. Developer"}}]'

In [10]:
df=pd.read_csv("https://raw.githubusercontent.com/CourseMaterial/DataWrangling/main/flowerdataset.csv",header=None)

In [11]:
df.head()

              0            1             2            3            4
0  sepal_length  sepal_width  petal_length  petal_width      species
1           5.1          3.5           1.4          0.2  Iris-setosa
2           4.9            3           1.4          0.2  Iris-setosa
3           4.7          3.2           1.3          0.2  Iris-setosa
4           4.6          3.1           1.5          0.2  Iris-setosa

In [12]:
df.to_csv("Wine.csv")

In [14]:
pip install lxmi

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement lxmi (from versions: none)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip
ERROR: No matching distribution found for lxmi

In [ ]:
conda install lxmi